@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
}

.user-profile-card{
    max-width: 375px;
    margin: 0 auto;
    padding: 10px;
}
.card > *{
    margin: 10px;
}
.card{
    border:  hsl(0,0%, 81%);
    border-radius: 8px;
    padding: 20px 30px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Barlow Semi Condensed', sans-serif;
    position: relative;
}



.card > img{
    justify-items: flex-start;
}
.profile-header{
    /* position: relative; */
    display: flex;
    margin: 0;
}
.sub-head{
    font-size: 14px;
    margin-left: 10px;
    line-height: .9rem;
    /* text-align: left; */
}

.profile-pic{
    align-self:end;
    width: 40px;
    height: 40px;
    border: 2px solid hsl(263, 59%, 72%);
    border-radius: 50%;
    object-fit: cover;
}


h2{
    margin: 8px 0;
    font-size: .9em;
    /* color: hsl(210, 46%, 95%);  */
}

.card h3{
    margin: 4px 0;
    font-size: .9em;
    /* color: hsl(0, 0%, 81%); */
    opacity: 50%;
}
h4{
    font-size: 1.2rem;
    line-height: 1.5rem;
}
p{  
    margin: 0px 0px;
    padding: 0px 20px 0px 0px;
    font-size: 13px;
    opacity: 70%;
}

/* .card-with-background{
    background-size: cover;
    background-position: top;
} */

/* Desktop Design */
@media (min-width: 1024px) {
    * > {
        padding: 0;
        margin: 0;
    }
.user-profile-card{
    /* width: 100%; */
    max-width: 100%;
    padding: 25px 10px 0px 20px;
}
.card{
    max-width: 100%;
    max-height: 100%;
    border:  hsl(0,0%, 81%);
    border-radius: 8px;
    /* padding: 0px; */
    /* flex-wrap: wrap; */
    text-align: left;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Barlow Semi Condensed', sans-serif;
    /* position: relative; */
}
}